@{
    ViewBag.Title = "Home Page";
}

<div class="h-100 row align-items-center">
    <input type="text" class="form-control " id="Sender" placeholder="Sender mail">

    <input type="text" class="form-control " id="Password" placeholder="Password">


    <input type="text" class="form-control " id="Receiver" placeholder="Receiver mail">


    <button class="btn btn-primary" id="Send" type="button">Send</button>
</div>


@section scripts
{
    @Scripts.Render("~/script/send")
}
